@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply w-12 h-12 bg-[#36393f] rounded-3xl flex items-center justify-center 
           cursor-pointer hover:rounded-xl transition-all duration-300 
           hover:bg-[#5865F2];
  }
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-[#202225] text-gray-100;
}

/* Remove Scrollbars */
.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}